meep
__pycache__/
# TensorBoard event files
events.out.tfevents.*
**/events.out.tfevents.*
sample_img/
simul_time_dis/
wandb/

ppo_model*/
sac_model*/
ppo_tensorboard*/
sac_tensorboard*/
sac_model_logs*/
simul_time_dis/
playground/
img/

models/
playground/
archive/
eval_results/

.DS_Store

job_log/

job.sh

Slurm_User_Guide.pdf

# Ignore log files with prefix rl_log
rl_log*