state_dim: &state_dim 81
state_dim_minus_1: &state_dim_minus_1 80

environment:
  obs_size: *state_dim
  action_size: 20
  max_steps: 20


simulation:
  resolution: 20
  wavelength: 1.55
  cell_size: [6, 4, 0]
  pml_thickness: 0.2
  waveguide_width: 0.4
  waveguide_index: 3.45
  waveguide_center_x: -0.9
  waveguide_length: 1.8
  output_y_separation: 0.6
  simulation_time: 150
  num_flux_regions: *state_dim_minus_1
  state_output_x: 1.0
  design_region_x: 2.0
  design_region_y: 2.0
  pixel_size: 0.1
  silicon_index: 3.45
  silica_index: 1.45
  pixel_num_x: 20
  pixel_num_y: 20
  src_pos_shift_coeff: 0.95
  input_coupler_length: 1.5
  output_coupler_length: 1.5
  input_flux_monitor_x: -1.5
  output_flux_monitor_x: 2


training:
  ppo:
    # total_timesteps: 19200
    total_timesteps: 640
    n_envs: 16
    learning_rate: 0.001
    n_steps: 20
    batch_size: 64
    n_epochs: 50
    gamma: 0.99
    gae_lambda: 0.95
    clip_range: 0.2
    ent_coef: 0.01
    vf_coef: 0.5
    max_grad_norm: 0.5
    tensorboard_log: ./ppo_tensorboard/
    save_path: models/
  sac:
    total_timesteps: 1000000
    n_envs: 1
    learning_rate: 0.0003 # 0.0001 0.0003 0.001
    buffer_size: 100000
    learning_starts: 1000
    batch_size: 256
    tau: 0.005
    gamma: 0.99
    train_freq: 1
    gradient_steps: 1
    ent_coef: auto
    target_update_interval: 1
    target_entropy: auto
    use_sde: false
    tensorboard_log: ./sac_tensorboard/
    save_path: models/sac_model
